.header a {
    color: black;

}

.header p {
    font-family: 'Montserrat', sans-serif; 
    font-size: xx-large;
    font-weight: bold;
    color: grey;
    margin: 0px
} 

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .logo p{
        font-family: 'Montserrat', sans-serif;       
        height: inherit;
        font-size: 26px;
        margin: 0px
    }
}

  