.footer-text{
    text-align: center;
    bottom: 0px;
    background-color: white;
    padding: 200px
}

.contact {
    width: 100px;
    height: 100px;
}

.social-media {
    width: 80px;
    height: 80px;
    float: right;
    margin-left: 20px
}