.profile-image{
    z-index: 10;
    width: 152px;
    height: 152px;
    border-radius: 50%;
}

.parallax-container {
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    .parallax-container {
        height: 100px;
    }
}
