
.contact-form {

}

.contact-form > p {
    font-size: xx-large;
    text-align: center;
}

.contact-footer > h5, .contact-footer > div {
    text-align: center
}

.social {
    padding: 5px;
    margin: 5px;
}

.social:hover {
    transform: scale(1.5);
    transition: transform .5s;
    cursor: pointer;
}

.input-field {
    margin: 2em;
}